html, body {
	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;
}

$colours: black grey tan aqua lime;


.b {
	position: absolute;
	display: block;

	width: 40px;
	height: 40px;

	background-color: black;

}

.carousel,
.carousel-wrap {
	&__frame {
		position: relative;

		width: 100%;
		height: 30vh;

		overflow: hidden;
	}

	&__content {
		position: absolute;
    	width: 100%;
 		-webkit-user-select: none;
    	box-sizing: border-box;
	}

	&__item {
		height: 30vh;
		width: 100vw;
		position: absolute;

		@for $index from 1 through 90 {
			&:nth-child(#{$index}) {
				// background-color: #{rgb($index, $index, $index)};
				left: #{($index - 1) * 100vw};
			}
		}
		&:nth-child(1) {
			background-color: red;
		}

		&:nth-child(2) {
			background-color: orange;
		}
		&:nth-child(3) {
			background-color: yellow;
		}
		&:nth-child(4) {
			background-color: green;
		}
		&:nth-child(5) {
			background-color: blue;
		}
		&:nth-child(6) {
			background-color: purple;
		}
	}
}

.panoramic-360 {
	display: none;
	
	&__image {
		// width: 100%;
		// height: 30vh;
		// object-fit: cover;
	}
}
